/* Основной цвет текста #212121; */
/* Второстепенный цвет текста #757575;*/
/* Черный #000000; */
/* Белый #ffffff;*/
/* Цвет акцент #2196F3; */
/* Белый прозрачный rgba(255, 255, 255, 0.6) */

/* Main */

/* Hero */

.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero.container {
  padding-top: 200px;
  padding-bottom: 280px;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 696px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  min-width: 216px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  padding: 10px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn:focus,
.btn:hover {
  background-color: #188ce8;
}

/* Section*/

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Features */

.features-section {
  padding-top: 94px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features-item {
  width: 270px;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.features-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Work */
.work-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  gap: 30px;
}

/* Section Our team */

.team {
  background-color: #f5f4fa;
}

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.position,
.text {
  color: var(--title-text-color);
}

.team-list {
  display: flex;
}
.team-item {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item + .team-item {
  margin-left: 30px;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
